{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mana Maali - Landing Page</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'index/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'index/css/agency.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js' %} IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js' %} doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js' %}/1.4.2/respond.min.js' %}"></script>
    <![endif]-->

    <style type="text/css">
        .long-text {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Mana Maali</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">The PROGRAM</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">FAQ</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About Us</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="./login/" style="color:#fed136;">Log In</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="./register/" style="color:#fed136;">Register</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Embark on a new journey</div>
                <div class="intro-heading">with Mana Maali</div>
                <a href="#services" class="page-scroll btn btn-xl">Get Started!</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Welcome to Mana Maali</h2>
                    <h3 class="section-subheading text-muted" style="line-height: 24px; letter-spacing: 1px">
                      By signing up for this program, you have taken the first step
                      <br>
                      towards cultivating a healthy mind. This program is designed to help you become more aware of
                      <br>
                      yourself – your thoughts, emotions and behaviors – and equip you with skills and techniques that
                      <br>
                      will help you manage your stress, anxiety and emotions.
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="{% static '/media/icons/1.png' %}">
                    </span>
                    <h4 class="service-heading">Choose your own journey</h4>
                    <p class="text-muted">Based on your answers to a few questions, you will receive a customized plan to learn tools and techniques that address your specific concerns.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="{% static '/media/icons/3.png' %}">
                    </span>
                    <h4 class="service-heading">Toolbox of Mental Wellness Activities</h4>
                    <p class="text-muted">Throughout your journey, you will collect an array of exercises and techniques that help you more productively manage your thoughts, feelings, and emotions.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="{% static '/media/icons/2.png' %}">
                    </span>
                    <h4 class="service-heading">Customize your journey: guide yourself or ask for help</h4>
                    <p class="text-muted">You can choose to navigate your journey on your own or work directly with a guide who will personalize your journey with iterative feedback and ongoing support. </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How it all works<br>&nbsp;</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static '/media/thumbs/1.jpg' %}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>What is Mental Health?</h4>
                        <!-- <p class="text-muted">Graphic Design</p> -->
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static '/media/thumbs/2.png' %}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Identify mental health problems</h4>
                        <!-- <p class="text-muted">Website Design</p> -->
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static '/media/thumbs/3.jpg' %}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>How Mana Maali helps</h4>
                        <!-- <p class="text-muted">Website Design</p> -->
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static '/media/thumbs/4.jpg' %}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>How the program works</h4>
                        <!-- <p class="text-muted">Website Design</p> -->
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static '/media/thumbs/5.jpg' %}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>How program guidance works</h4>
                        <!-- <p class="text-muted">Website Design</p> -->
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static '/media/thumbs/6.jpg' %}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>How to drop the program</h4>
                        <!-- <p class="text-muted">Website Design</p> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>
                    <h3 class="section-subheading text-muted">Here's our Journey.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'index/img/about/1.jpg' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2015</h4>
                                    <h4 class="subheading">First steps</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The Mana Maali Student Wellness Program was initiated at BITS Hyderabad campus and another engineering college in Hyderabad, making online mental health programs available to students.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'index/img/about/2.jpg' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2015</h4>
                                    <h4 class="subheading">Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After a successful first phase, the Program was expanded across all four BITS campuses (Pilani, Hyderabad, Goa and Dubai).</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'index/img/about/3.jpg' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>JANUARY 2016</h4>
                                    <h4 class="subheading">Product Development</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After measuring the potential of online mental health resources to help college students in India, the BITS Pilani Computer Science team began developing a customized program.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'index/img/about/4.jpg' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>DEC 2016</h4>
                                    <h4 class="subheading">Product Evaluation</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The new Mana Maali Mental Wellness Platform will be demo-ed for the first time at the Sangath Conference in preparation of a program evaluation.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><a href="https://manamaali.wordpress.com/about/" target="_blank" style="color: white; text-decoration: none">Follow us
                                    <br>on our
                                    <br>journey</a></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted"> </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="{% static '/media/team/barr.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4 class="long-text">Dr. C. Barr Taylor, MD</h4>
                        <p class="text-muted long-text">Project Investigator,<br>Director of Stanford’s Behavioral Medicine Lab;<br> Palo Alto University</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="mail:btaylor@stanford.edu"><i class="fa fa-envelope"></i></a>
                            </li>
                            <li><a href="https://med.stanford.edu/profiles/craig-taylor" target="_blank"><i class="fa fa-university"></i></a>
                            </li>
                            <!-- <li><a href="#"><i class="fa fa-linkedin"></i></a> -->
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="{% static '/media/team/michelle.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4 class="long-text">Dr. Michelle G. Newman</h4>
                        <p class="text-muted long-text">Project Investigator,<br>Director of Penn State’s Lab<br>for Anxiety and Depression</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="mailto:mgn1@psu.edu"><i class="fa fa-envelope"></i></a>
                            </li>
                            </li>
                            <li><a href="https://www.linkedin.com/in/michelle-newman-68ba9b14" target="_blank"><i class="fa fa-linkedin" ></i></a>
                            </li>
                            <li><a href="http://psych.la.psu.edu/directory/mgn1" target="_blank"><i class="fa fa-university"></i></a>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="{% static '/media/team/josef.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4 class="long-text">Dr. Josef I. Ruzek</h4>
                        <p class="text-muted long-text">Project Investigator, Director of<br>Dissemination and Training in U.S.<br>Dept.of Veterans Affairs</p>
                        <ul class="list-inline social-buttons">
                            <!-- <li><a href="https://www.facebook.com/josef.ruzek" target="_blank"><i class="fa fa-facebook"></i></a> -->
                            </li>
                            <li><a href="mailto:Josef.Ruzek@va.gov"><i class="fa fa-envelope"></i></a>
                            </li>
                            <li><a href="http://www.ptsd.va.gov/about/divisions/dissemination/josef_i_ruzek_phd.asp" target="_blank"><i class="fa fa-university"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="{% static '/media/team/nitya.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4 class="long-text">Nitya Kanuri</h4>
                        <p class="text-muted long-text">Founder and Co-director, Mana Maali<br> Open Data Manager,<br> Crisis Text Line</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="mailto:nityakanuri@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/nityakanuri" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/nityakanuri" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li><a href="https://twitter.com/nitya_kanuri" target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-12 col-sm-offset-6">
                            <div class="team-member">
                                <img src="{% static '/media/team/bona.jpg' %}" class="img-responsive img-circle" alt="">
                                <h4 class="long-text">Bona Colaco</h4>
                                <p class="text-muted long-text">Co-director, Mana Maali<br>Clinical Psychologist,<br>Mana Maali</p>
                                <ul class="list-inline social-buttons">
                                   <!--  <li><a href="#"><i class="fa fa-twitter"></i></a>
                                    </li> -->
                                    <li><a href="mailto:bona.colaco@gmail.com " target="_blank"><i class="fa fa-envelope"></i></a>
                                    </li>
                                    <li><a href="https://www.facebook.com/bona.colaco" target="_blank"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a href="https://www.linkedin.com/in/bona-colaco-8745b923" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-12 col-sm-offset-6">
                            <div class="team-member">
                                <img src="{% static '/media/team/manjula.jpg' %}" class="img-responsive img-circle" alt="">
                                <h4 class="long-text">Dr. M. Manjula</h4>
                                <p class="text-muted long-text">Project Investigator,<br>Prof., Clinical Psychology,<br>NIMHANS, Bangalore</p>
                                <ul class="list-inline social-buttons">
                                    <li><a href="http://www.nimhans.ac.in/users/dr-m-manjula" target="_blank"><i class="fa fa-university"></i></a>
                                    </li>
                                    <!-- <li><a href="#"><i class="fa fa-facebook"></i></a> -->
                                    </li>
                                    <!-- <li><a href="#"><i class="fa fa-linkedin"></i></a> -->
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-12 col-sm-offset-6">
                            <div class="team-member">
                                <img src="{% static '/media/team/default.jpg' %}" class="img-responsive img-circle" alt="">
                                <h4 class="long-text">Dr. Rahul Banerjee</h4>
                                <p class="text-muted long-text">Tech Team Supervisor,<br>H.O.D. CSE BITS Pilani Campus<br>&nbsp;</p>
                                <ul class="list-inline social-buttons">
                                    <li><a href="mailto:rahul@pilani.bits-pilani.ac.in"><i class="fa fa-envelope"></i></a>
                                    </li>
                                    <li><a href="https://in.linkedin.com/in/rahulbanerjeebits" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                    <li><a href="www.bits-pilani.ac.in/pilani/rahulbanerjee/profile" target="_blank"><i class="fa fa-university"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                 <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-12 col-sm-offset-6">
                            <div class="team-member">
                                <img src="{% static '/media/team/abhimanyu.jpg' %}" class="img-responsive img-circle" alt="">
                                <h4 class="long-text">Abhimanyu Rawat</h4>
                                <p class="text-muted long-text">Online Platform Tech. Lead,<br>CS BITS Pilani Campus</p>
                                <ul class="list-inline social-buttons">
                                    <li><a href="mailto:abhimanyurawat@yahoo.com" target="_blank"><i class="fa fa-envelope"></i></a>
                                    </li>
                                    <li><a href="https://github.com/ABresting" target="_blank"><i class="fa fa-github"></i></a>
                                    </li>
                                    <li><a href="https://www.facebook.com/Abhimanyurawat14" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://in.linkedin.com/in/abhimanyu-rawat-3347b45b" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="https://twitter.com/MrAbhimanyu" target="_blank"><i class="fa fa-twitter"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-12 col-sm-offset-6">
                            <div class="team-member">
                                <img src="{% static '/media/team/default.jpg' %}" class="img-responsive img-circle" alt="">
                                <h4 class="long-text">Tarun Kumar Vangani</h4>
                                <p class="text-muted long-text">Backend Developer,<br>Dual Major BITS Pilani Campus</p>
                                <ul class="list-inline social-buttons">
                                    <li><a href="mailto:reach.tarun.here@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
                                    </li>
                                    <li><a href="https://github.com/reachtarunhere" target="_blank"><i class="fa fa-github"></i></a>
                                    </li>
                                    <li><a href="https://www.facebook.com/reachtarunhere" target="_blank"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a href="https://in.linkedin.com/in/tarunkv" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                    <li><a href="https://twitter.com/reachtarunhere" target="_blank"><i class="fa fa-twitter"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-12 col-sm-offset-6">
                            <div class="team-member">
                                <img src="{% static '/media/team/default.jpg' %}" class="img-responsive img-circle" alt="">
                                <h4 class="long-text">Shirsh Zibbu</h4>
                                <p class="text-muted long-text">Front-end Developer,<br>Dual Major BITS Pilani Campus</p>
                                <ul class="list-inline social-buttons">
                                    <li><a href="mailto:zibbu.shirsh@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
                                    </li>
                                    <li><a href="https://github.com/zhirzh" target="_blank"><i class="fa fa-github"></i></a>
                                    </li>
                                    <li><a href="https://www.facebook.com/zibbu.shirsh" target="_blank"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a href="https://in.linkedin.com/in/shirsh-zibbu" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                    <li><a href="https://twitter.com/zhirzh" target="_blank"><i class="fa fa-twitter"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
              <!--   <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted"> </p>
                </div> -->
            </div>
        </div>
    </section>

    <!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <a href="http://med.stanford.edu/" target="_blank">
                        <img src="{% static '/media/sponsors/1.png' %}" class="img-responsive img-centered" alt="" style="max-height: 100px">
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <a href="http://www.psu.edu/" target="_blank">
                        <img src="{% static '/media/sponsors/2.png' %}" class="img-responsive img-centered" alt="" style="max-height: 100px">
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <a href="http://www.ptsd.va.gov/" target="_blank">
                        <img src="{% static '/media/sponsors/3.png' %}" class="img-responsive img-centered" alt="" style="max-height: 100px">
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <a href="http://www.nimhans.ac.in/" target="_blank">
                        <img src="{% static '/media/sponsors/4.jpg' %}" class="img-responsive img-centered" alt="" style="max-height: 100px">
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <a href="http://www.whiteswanfoundation.org/" target="_blank">
                        <img src="{% static '/media/sponsors/5.png' %}" class="img-responsive img-centered" alt="" style="max-height: 100px">
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <a href="https://www.paloaltou.edu/" target="_blank">
                        <img src="{% static '/media/sponsors/6.png' %}" class="img-responsive img-centered" alt="" style="max-height: 100px">
                    </a>
                </div>
            </div>
        </div>
    </aside>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Your feedback is valuable to us.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Mana Maali 2016</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                      <!--   <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li> -->
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="{% static '/media/Terms_Conditions.pdf' %}" target="_blank">Privacy Policy and Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>What is Mental Health?</h2>
                            <!-- <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p> -->
                            <br>
                            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/V0C5iE14Lbk" frameborder="0" allowfullscreen></iframe>
                            <br>
                            <br>
                            <p>The World Health Organization (WHO) defines mental health as a state of wellbeing in which every individual realizes his or her own potential, can cope with the normal stresses of life, can work productively and fruitfully, and is able to make a contribution to her or his community.</p>

                            <p>The above definition suggests that if something is preventing you from realizing your potential or functioning optimally, or if you are having difficulty dealing with everyday life stress, or if you are unable to contribute fruitfully to your life or to significant others or society, then you might lack optimal mental health/well-being.</p>

                            <p>
                              <b>Young people’s mental health includes:</b>
                            </p>
                            <ul class="list-inline">
                              <li>emotional well-being (e.g., happiness, stability and confidence)</li>
                              <li>psychological well-being (e.g., resilience, flexibility, autonomy, sense of mastery)</li>
                              <li>social well-being (e.g., interpersonal relationships and citizenship)</li>
                            </ul>

                            <p>While most of these skills or traits can be achieved through your own efforts or from the support of others (peers, teachers, friends, family members), a few among these might need professional help to fully realize. If you lack a support system, feel helpless, or simply do not feel comfortable discussing such issues with others, it is important that you seek help without hesitation so that time is not lost and future, potentially more severe problems can be averted.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Identify mental health problems</h2>
                            <!-- <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p> -->
                            <!-- <img class="img-responsive img-centered" src="{% static 'index/img/portfolio/startup-framework-preview.png' %}" alt=""> -->
                            <!-- <p><a href="http://designmodo.com/startup/?u=787">Identify mental health problems</a> is a website builder for professionals. Startup Framework contains components and complex blocks (PSD+HTML Bootstrap themes and templates) which can easily be integrated into almost any design. All of these components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions for your future projects.</p> -->
                            <p>Depression and Anxiety are common mental health problems. The symptoms of depression and anxiety, such as poor concentration, worry, insomnia, and crying spells, are sometimes perceived as minor stresses, but they can actually cause significant distress if left unaddressed. Timely treatment and support for persons suffering from depression and/or anxiety can prevent these symptoms from affecting their daily functioning and causing further distress.</p>

                            <p>Depression: It is OK to feel sad or upset over some unhappy events or circumstances. However, if this feeling persists for a long time (more than two weeks) or recurs frequently and disrupts normal life and health, then it could be a sign of what people call clinical depression. If it is so severe that it is interrupting normal routine, it is commonly addressed with psychological treatment. Depression is a common mental disorder with a set of symptoms that affect a person&#39;s thoughts, feelings, behavior, relationships, performance at work and, in very severe cases, may also lead to thoughts of worthlessness and suicide. </p>

                            <p><a href="http://www.whiteswanfoundation.org/slideshow/signs-of-depression/">Click here</a> to learn more about the signs of depression from our partners at White Swan Foundation</p>

                            <p>Anxiety: Experiences of trembling before an exam, sweaty palms before a job interview or feeling of butterflies in the stomach before a public performance are regular anxiety that we all go through. Once the event has happened, we calm down and are able to breathe easier. However, some people experience anxiety or panic attacks for no apparent reason. Others find that their anxiety is interfering with their ability to meet their life goals. If you find it difficult to control your anxiety/worries or if these constant feelings of anxiety affect your ability to go about your daily activities, then it might be a case of an anxiety disorder.</p>

                            <p><a href="http://www.whiteswanfoundation.org/disorder/anxiety/">Click here</a> to learn more about the differences between regular anxiety and an anxiety disorder.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>How Mana Maali helps</h2>
                            <p>This program has previously helped many college students cope with anxiety/stress and relationship/family issues as well as learn skills to manage unhelpful thinking, improve emotional balance, and increase focus and productivity.</p>
                            <p>Some students have goals like:
                            <ul>
                                <li>Reducing anxiety or stress;</li>
                                <li>Improving focus/becoming more productive;</li>
                                <li>Improve self- confidence;</li>
                                <li>Manage emotions better.</li>
                            </ul>
                            <p>The overall aim of this program is to help you be more self-aware and understand where your emotions come from so that you can better control them. Then, the program aims to teach you skills and techniques to manage the inevitable stressors you will face in the future to empower you to be your own mental wellness guide for life.</p>

                            <p>This program is currently available free of charge. As this program evolves at your college, there might be costs for additional services like communicating with a program guide. For now, it is free to you, paid for by your university, the BITSAA alumni, and other donors who support student mental wellness.</p>

                            <p>Among all the students who used this program during the 1st phase, 90% of them said they would recommend this program to their friends and peers.</p>

                            <p>The Mana Maali Student Wellness Program is designed to help you learn skills and techniques to cope with the challenges that you face in college life. Based on your results from an initial online survey, you will be offered suggestions and guidance to choose information and activities that are relevant to your specific needs (e.g. anxiety or depression).</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>How the program works</h2>
                            <p>Information and activities can be accessed via an online program, accessible via the Web or a mobile phone application.</p>

                            <p>The program consists of your personalized modules, each of which are comprised of a number of sessions. You will gain access to future sessions as you complete the first sessions. We recommend creating a habit around how you use the program – for example, completing one 10-minute activity every day when you wake up and practicing that skill during the day – but you can customize it as you wish.</p>

                            <p>Each session takes about 10 minutes to complete and contains 3 steps. First, you report your current level of anxiety/stress/depression so you can begin tracking your mood and learn how and why it changes over time. Second, you learn something about the specific problem you are facing or symptom you are experiencing to better understand where it comes from and how to control it. Third, you learn a new skill or new technique designed to help you challenge your problem and work towards a solution (for example, a relaxation activity for stress, a worry exercise for anxiety, an activity scheduling and reminder tool for when you are feeling down and need to remind yourself to get outside and be with friends).</p>

                            <p>We encourage you to dedicate 10 minutes every day to “self-care” and using this program. This could become your 10 minutes per day during which you enjoy a 10-minute break from the hustle and bustle, relax, and over time even learn how to manage inevitable future stress, proactively think about how to improve the relationships in your life with people you care about, and generally be happier, healthier, and the gardener of your own mind.</p>

                            <p>A lot of students have previously benefitted from having a program guide work with them as they navigate through the program. Therefore, you will be able to select whether you wish to work on your own or with the support of a guide. Being assigned a program guide would be based on/subject to availability of trainded guides.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>How program guidance works</h2>
                            <p>If you opt for a program guide, he or she will guide you throughout your journey in this program. Program guides work with students and help them apply the tools and techniques they learn in the program. Your program guide will be available to answer any questions you have, clarify doubts, and provide feedback about your progress. You can communicate with the program guide via a messaging box within the program and your guide will reply typically within 24 hours. You may also have the opportunity to directly chat with your program guide over the phone if desired.</p>

                            <p>Program guides are trained mental health counselors from India. They have experience working with college students and are therefore able to support students as they work through their journey in this program.</p>

                            <p>You can feel free to share with your guide about anything that troubles/distresses you. You could share about a bad day at college or an upcoming presentation that is making you anxious. Your guide is there to help you get through your struggles now as well as learn tools and techniques to get through your future struggles on your own.</p>

                            <p>Depending on availability, in addition to messaging your guide in the program, you might also have the opportunity to set up a phone call at the beginning, middle, and end of your program. We recommend taking advantage of this option as it is a great way for you and your guide to get to know each and better work together on defining and achieving your goals for using this program.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>How to drop the program</h2>
                            <p>You will get out of this program what you put in. However, if you are no longer interested in participating, or maybe wish to enroll at another time, you can always deactivate your account and sign up again later on.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="{% static 'index/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'index/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'index/js/classie.js' %}"></script>
    <script src="{% static 'index/js/cbpAnimatedHeader.js' %}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'index/js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'index/js/contact_me.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'index/js/agency.js' %}"></script>

</body>

</html>
