{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Initial Survey</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- StyleSheets -->
    <link href="{% static 'assets/global/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/global/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/pages/css/initial-survey.css' %}" rel="stylesheet" type="text/css" />

</head>
<body>
<!-- Navigation -->
    <div class="header">
        <img src="{% static 'assets/pages/img/logo.png' %}"  class="logo" alt="" /> 
    </div>
</body>
</html>